VITE_PATIENT_EMAIL=your_patient_email
VITE_PATIENT_PASSWORD=your_patient_password
VITE_DOCTOR_EMAIL=your_doctor_email
VITE_DOCTOR_PASSWORD=your_doctor_password
VITE_ADMIN_EMAIL=your_admin_email
VITE_ADMIN_PASSWORD=your_admin_password
